.h1 {
  font-family: var(--font-zen);
  color: #fff;
  font-weight: 500;
  font-size: 3rem;
  margin-bottom: 2rem;
}

.goToAnotherFormText {
  font-size: 1.1rem;
  display: block;
  margin-top: 2.5rem;
}

.goToAnotherFormText span {
  position: relative;
  cursor: pointer;
}

.goToAnotherFormText span::after {
  content: "";
  position: absolute;
  height: 0.1rem;
  width: 100%;
  background: var(--dark-purple);
  bottom: -0.15rem;
  left: 0;
}

.goToAnotherFormText span a {
  color: var(--text-color);
  text-decoration: none;
}

.formContainer {
  width: 100%;
}
